﻿@model IEnumerable<IGrouping<string, Domain.Entities.Game>>

<ul class="nav">
    <li>
        @*@Html.ActionLink("Все товары", "List", "Game", null,
        new { @class = "btn btn-block btn-default btn-lg" })*@


        <a href="@(Url.RouteUrl(new {controller = "Game", action = "List", page = 1}))"
           class="@("btn btn-block btn-default btn-lg" + (null == ViewBag.SelectedCategory ? " btn-primary" : ""))">
            Все товары <span class="badge">@ViewBag.CountGames</span>
        </a>
    </li>

    @foreach (var link in Model)
    {
        <li>
            <a href="@(Url.RouteUrl(new {controller = "Game", action = "List", category = link.Key, page = 1}))"
               class="@("btn btn-block btn-default btn-lg" + (link.Key == ViewBag.SelectedCategory ? " btn-primary" : ""))">
                @link.Key <span class="badge">@link.Count()</span>
            </a>
        </li>
        }
    </ul>