﻿@model Domain.Entities.Game


<div class="well">
    <h3>
        <strong>@Model.Name</strong>
        <span class="pull-right label label-primary">@Model.Price.ToString("# руб")</span>
    </h3>
    <span class="lead">@Model.Description</span>
    <div class="container">
        <div class="row">
            @Html.RouteLink(Model.Category,
               new { controller = "Game", action = "List", category = Model.Category, page = 1 },
               new { @class = "btn btn-default btn-sm " })
        </div>
    </div>
</div>
