﻿@using WebUI.Models
@using WebUI.HtmlHelpers
@model GamesListViewModel

@{
    ViewBag.Title = "Товары";
}
<div class="row">
    <div class="pull-right">
        @Html.PageLinks(Model.PagingInfo,
        x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
    </div>
</div>
@foreach (var p in @Model.Games)
{
    @Html.Partial("_GameSummary", p)
}




 